@font-face {
	font-family: 'Suit Variable';
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), 
    url('../assets/fonts/SUIT-Variable.ttf') format('woff2-variations');
}


* {box-sizing: border-box;margin: 0;padding: 0;font-size: 16px;letter-spacing: -0.2px;}
body {font-family: "Suit Variable", sans-serif !important; color: #000;font-size: 14px !important;}


button {font-family: "Suit Variable", sans-serif;}

